<!-- <mat-card>
    <div class="chart-div">
        <div class="chart-page">
            <google-chart title="Put Call Ratio" [type]="myType" [data]="myPcrChart" [columns]="pcrchartColumns" [width]="1000"
                [height]="800" [options]="myOptions">
            </google-chart>
        </div>
        <div class="chart-page">
            <google-chart title="Put Open Interest" [type]="myType" [data]="myCEPEChart" [columns]="peoichartColumns" [width]="1000"
                [height]="600" [options]="myCEPEOptions">
            </google-chart>
        </div>
    </div>
</mat-card> -->