.example-icon{
    padding: 4px;
    margin: 10px;
    width: 10%;
    border-radius: 30px;
}
.example-icon:hover{
    cursor: pointer;
}
.example-icon label{
    font-family: 'Times New Roman', Times, serif;
}
.example-icon label:hover{
    cursor: pointer;
}
.nav-left{
    width: 90%;
}
.nav-right{
    width: 20%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: right;
}
.reset-button{
    padding: 4px;
    margin: 10px;
    width: 30%;
    border-radius: 30px;

}
.reset-button:hover,.reset-button label:hover{
    cursor: pointer;
}