<mat-toolbar color="primary">
    <div class="nav-left">
        <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <label>Nifty</label>
        </button>
        <button routerLink="/bank-nifty" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
            <label>BankNifty</label>
        </button>
    </div>
    <div class="nav-right">
        <button (click)="resetData()" class="reset-button" mat-icon-button aria-label="Example icon-button with heart icon">
            <label>Reset</label>
        </button>
    </div>
</mat-toolbar>