<mat-card *ngIf="loaded">
    <div class="chart-div">
        <div class="chart-page">
            <google-chart [title]="myTitle" [type]="myType" [data]="PCRChartData" [columns]="pcrchartColumns" [width]="1500"
                [height]="800" [options]="myOptions">
            </google-chart>
        </div>
        <div class="chart-page">
            <google-chart [title]="OITitle" [type]="myType" [data]="OICallPUTChartData" [columns]="OIchartColumns" [width]="1500"
                [height]="800" [options]="OIOptions">
            </google-chart>
        </div>
    </div>
</mat-card>