.spinner{
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.heading-data{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 255, 179);
}
.heading-data h1{
    font-size: 25px;
}
.container{
    margin-top: 30px;
}
.refreshButton{
    font-size: 30px;
    width: 50%;
    height: 50%;
    color: red;
    margin-left: 10px;
}
.refreshButton:hover{
    cursor: pointer;
}
.startingData{
    padding: 20px;
}
.refresh{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.refresh label{
    font-size: 15px;
}
.startingData H1{
    font-size: 18px;
}
.table-heading{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.pcr-data{
    font-size: 20px;
}