<div class="container">
    <mat-card>
        <div class="refresh">
            <label>Refresh</label>
            <mat-icon class="refreshButton" (click)="getData()" aria-hidden="false" aria-label="Example home icon"
                fontIcon="refresh"></mat-icon>

        </div>
        <div class="heading-data">
            <h1>NSE Option Chain Data (BankNifty)</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading" scope="col">Total Call changeinOpenInterest</th>
                    <th class="table-heading" scope="col">PCR</th>
                    <th class="table-heading" scope="col">BUY/SELL</th>
                    <th class="table-heading" scope="col">Total Put changeinOpenInterest</th>
                    <th class="table-heading" scope="col">Time</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <ng-container *ngIf="loading==false && loaded==false">
                    <div class="startingData">
                        <h1>Please Click Refresh Button</h1>
                    </div>
                </ng-container>
                <tr *ngIf="loading==true && loaded==false" (rowspan)="3">
                    <td colspan="3">
                        <div class="spinner">
                            <mat-spinner></mat-spinner>
                            <!-- <mat-progress-bar mode="determinate" (value)="progressBarValue"></mat-progress-bar> -->
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="loading==false && loaded==true">
                    <tr *ngFor="let c of Data">
                        <td>{{c.CEOI}}</td>
                        <td>{{c.PCR}}</td>
                        <td [ngStyle]="{color:getColor(c.PCR)}" class="pcr-data">{{c.PCR>0?"BUY":"SELL"}}</td>
                        <td>{{c.PEOI}}</td>
                        <td>{{c.Time}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </mat-card>
</div>